@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Nanum+Gothic&family=Russo+One&display=swap');

html,body {
    overflow-x: hidden;
}

/*---------------Header*/

.container-fluid {
    margin: 0;
    padding: 0;
}

.bg-navbar {
    background-color: #1636d9;
}

.gym {
    font-family: 'Russo One', sans-serif;
    color: #c3c4d4;
    text-transform: uppercase;
    font-size: 45px;
}

.nav-home, .nav-classes, .nav-signup {
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    color: #0f3061;
}

/*-----------Main section index.html*/

.main-area {
    background-color: #d7ebf5;
}

.alert {
    text-align: center;
    font-family: 'Arvo', sans-serif;
    font-size: 20px;
    color: #0f3061;
    margin-bottom: 20px;
    border: 1px solid #000;
}

.alert-bg-color {
    background-color: #d0adf7;
}

.btn-color {
    background-color: #15eb2a;
}

.about-gym {
    text-align: center;
    padding: 20px 0 20px 0;
    color: #0f3061;
}

.about-gym h1 {
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
}

.about-gym p {
    font-size: 20px;
}

.about-gym img {
    margin-bottom: 20px;
    border: 2px solid #0f3061;
}

.offers {
    padding: 0 10px 40px 10px;
}

.offers h3 {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    color: #0f3061;
}

.standard-rate, .premium-rate {
    font-family: 'Arvo', sans-serif;
    font-size: 20px;
    color: #0f3061;
}

.standard-rate h4, .premium-rate h4 {
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    text-align: center;
}

.standard-rate p, .premium-rate p {
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    text-align: center;
}

.rates-info {
    background-color: rgba(22, 54, 217, 0.25);
    border-radius: 30px 30px 30px 30px;
}

/*---------------Footer*/

footer {
    background-color: #1636d9;
    bottom: 0;
}

footer h5 {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    color: #0f3061;
    text-align: center;
}

footer p {
    text-align: center;
    color: #c3c4d4;
    font-family: 'Arvo', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.social-icons i {
    font-size: 20px;
    color: #c3c4d4;
    text-align: center;
    padding-left: 55px;
}