@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Nanum+Gothic&family=Russo+One&display=swap');

/*---------------Header*/

.container-fluid {
    margin: 0;
    padding: 0;
}

.bg-navbar {
    background-color: #a9f1fc;
}

.gym {
    font-family: 'Russo One', sans-serif;
    color: #1762d1;
    text-transform: uppercase;
    font-size: 45px;
}

.nav-home, .nav-classes, .nav-signup {
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    color: #0f3061;
}