/*------------------------Imported fonts from Google Fonts; using Russo One and Arvo*/

@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Russo+One&display=swap');

html,body {
    overflow-x: hidden;
}

/*--------------------------------------------------Header*/

.container-fluid {
    margin: 0;
    padding: 0;
}

/*-------------------------navbar*/

.bg-navbar {
    background-color: #1636d9;
}

.nav-home, .nav-classes, .nav-signup {
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    color: #0f3061;
}

.gym {
    font-family: 'Russo One', sans-serif;
    color: #c3c4d4;
    text-transform: uppercase;
    font-size: 45px;
}

/*---------------------------------------------------Styles repeating in main area of pages*/

.main-area {
    background-color: #d7ebf5;
}

.btn-color {
    background-color: #15eb2a;
}

.btn:focus {
    background-color: #11a83e;
}

.about-gym {
    text-align: center;
    padding: 40px 0 20px 0;
    color: #0f3061;
}

.about-gym h1 {
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
}

.about-gym p {
    font-size: 20px;
}

.about-gym img {
    margin-bottom: 20px;
    border: 2px solid #0f3061;
}

/*---Borrowed idea from Stack Overflow--*/
.cover {
    object-fit: cover;
}

/*--------------------------------------------index.html membership offers*/

.offers {
    padding: 0 10px 40px 10px;
}

.offers h3 {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    color: #0f3061;
}

.standard-rate, .premium-rate {
    font-family: 'Arvo', sans-serif;
    font-size: 20px;
    color: #0f3061;
}

.standard-rate h4, .premium-rate h4 {
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}

.standard-rate p, .premium-rate p {
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    text-align: center;
}

.rates-info {
    background-color: rgba(22, 54, 217, 0.25);
    border-radius: 30px 30px 30px 30px;
    margin-top: 5px;
}

.join {
    padding-bottom: 10px;
}

/*--------------------------------------------classes.html schedule*/

.all-classes {
    padding: 0 10px 40px 10px;
}

.all-classes h3 {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    color: #0f3061;
}

.schedule {
    background-color: rgba(22, 54, 217, 0.25);
    border-radius: 30px 30px 30px 30px;
    text-align: center;
}

.classes {
    margin-top: 5px;
    padding: 10px 0;
    font-family: 'Arvo', sans-serif;
    font-size: 20px;
    color: #0f3061;
}

.classes h4 {
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
}

/*---------------------------------------signup.html sign up*/

.signup-form {
    display: block;
    text-align: center;
    padding-bottom: 40px;
}

form {
    display: inline-block;
    margin-left: 40%;
    margin-right: 40%;
    min-width: 360px;
    font-family: 'Arvo', sans-serif;
    color: #0f3061;
    font-size: 20px;
}

.form-bg {
    background-color: rgba(22, 54, 217, 0.25);
    border-radius: 30px 30px 30px 30px;
    padding: 10px 10px 10px 10px;
}

.signup h3 {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    color: #0f3061;
}

/*---------------Footer*/

footer {
    background-color: #1636d9;
    bottom: 0;
}

footer h5 {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    color: #0f3061;
    text-align: center;
    padding-top: 20px;
}

footer p {
    text-align: center;
    color: #c3c4d4;
    font-family: 'Arvo', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.social a {
    text-decoration: none;
    color: #c3c4d4;
}